* {
  margin: 0;
}

.nav__notif {
  display: flex;
  max-width: 100%;
  background-color: #f40000;
  color: whitesmoke;
  font-family: Unity, "Gotham A", "Gotham B";
  border-radius: 0;
  /* height: 30px; */
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.nav__notif > b {
  flex: 0.9;
  margin-top: 5px;
}
.nav__notif > span {
  flex: 0.1;
  margin-bottom: 5px;
}

.header__container {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.header__left--logo > img {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header__left {
  display: flex;
}

.header__left--list {
  display: flex;
  list-style: none;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.header__left--list > li {
  margin-right: 30px;
  font-family: system-ui;
}

.family {
  background-color: #cf1c28;
}

.family > img {
  width: fit-content;
}
